@import "tailwindcss";

:root {
  --background: #000000;
  --foreground: #EAEAEA;
  --accent: #C25E00;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-accent: var(--accent);
  --font-sans: var(--font-inter);
  --font-serif: var(--font-cinzel);
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
  background-image: url('/bg.png');
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
}

